body{
    text-align: center;
}

form{
    text-align: center;
    background-color: lightgray;
    border: grey solid 2px;
    margin-left: 30%;
    margin-right: 30%;
    padding: 20px;
}

input,label{
    margin-top: 10px;
}

#error_message{
    color: red;
}